{% extends 'base.html.twig' %}

{% block title %}All movies !{% endblock %}

{% block body %}
    {% if actor is defined %}
    <div style="text-align: center">
    <h1>{{ actor.firstName }} {{ actor.lastName }} movies</h1>
        {% if actor.image is not null %}
            {% if actor.image starts with 'http' %}
                <img style="max-width: 300px" src="{{ actor.image }}" alt="{{ actor.lastName }}" />
            {% else %}
                <img src="/assets/upload/images/{{ actor.image }}" alt="{{ actor.lastName }}" style="max-width: 300px;">
            {% endif %}
        {% endif %}
        </div>
        {% elseif genre is defined %}
            <h1 style="text-align: center">{{ genre.name }} movies</h1>
        {% elseif studio is defined %}
            <h1 style="text-align: center">{{ studio.name }} movies</h1>
        {% else %}
            <h1 style="text-align: center">All movies</h1>
    {% endif %}
    <div class="row">
        <div class="col-9">
            <div class="row">
                {% for movie in movies %}
                    <div class="col-4">
                        <div class="card text-white bg-info mb-3">
                            <div class="card-header">Original Title : {{ movie.originalName|capitalize }}</div>
                            <div class="card-body">
                                <h4 class="card-title">{{ movie.name|capitalize }}</h4>
                                {% if movie.image is not null %}
                                    {% if movie.image starts with 'http' %}
                                        <img style="width: 100%" src="{{ movie.image }}" alt="{{ movie.name }}" />
                                    {% else %}
                                    <img style="width: 100%" src="/assets/upload/images/{{ movie.image }}" alt="{{ movie.name }}">
                                    {% endif %}
                                {% endif %}
                                <p class="card-text">Release date : {{ movie.releaseDate|date("m/d/Y") }}</p>
                                <p class="card-text">Studio : {{ movie.studio }}</p>
                                <p class="card-text"style="
                                                white-space: nowrap;
                                                overflow: hidden; text-overflow: ellipsis;">Synopsis : {{ movie.synopsis|raw }}</p>
                                {% if movie.seen %}
                                    <p class="card-taxt">J'ai vu le film</p>
                                {% else %}
                                    <p class="card-taxt">Pas vu le film</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-3">
            {% if actors is defined %}
                <h2>Actors list</h2>
                <ul class="list-group">
                    {% for actor in actors %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <a href="{{ path('moviesByActor', {'id' : actor.id}) }}">
                                {{ actor.firstName }} {{ actor.lastName }}
                            </a>
                            <span class="badge bg-primary rounded-pill">{{ actor.movies|length }}</span>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if genres is defined %}
                <h2>Genres list</h2>
                <ul class="list-group">
                    {% for genre in genres %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <a href="{{ path('moviesByGenre', { 'id': genre.id }) }}">
                                {{ genre.name }}
                            </a>
                            <span class="badge bg-primary rounded-pill">{{ genre.movies|length }}</span>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if studios is defined %}
                <h2>Studios list</h2>
                <ul class="list-group">
                    {% for studio in studios %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <a href="{{ path('moviesByStudio', { 'id': studio.id }) }}">
                                {{ studio.name }}
                            </a>
                            <span class="badge bg-primary rounded-pill">{{ studio.movies|length }}</span>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}
